.work__filters{
    display: flex;
    align-items: center;
    column-gap: 1.875rem;
    margin-bottom: 2.5rem;
    flex-wrap: wrap;
}
.work__item{
    cursor: pointer;
    font-weight:var(--font-bold);
    transition: 0.3s;
}
.work__item:hover{
    color: var(--first-color);
}
.work__container{
    grid-template-columns: repeat(3,1fr);
    gap:1.875rem;
}

.work__card{
    background-color: white;
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: 0px 5px 10px rgb(241, 241, 241);
}
.work_image{
    background-color: red;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}
.work__category{
    display: block;
    color: var(--text-color);
    margin: 10px 0;
}

.work__card:hover .work__category, .work__card:hover .work__title{
    color:var(--first-color);
    transition: all 0.5s ease;
}

@media screen and (max-width:1024px) {
    .work__container{
        grid-template-columns: repeat(1,1fr);
    }
    .work__card{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap:30px;
        justify-content: center;
    }
}